.image-layer-filter{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1);
    z-index: 1;
    background-color: var(--bs-primary);
    background-blend-mode: multiply;
    background-position: center center;
}

.image-layer{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}